In [6]:
### Connect to local database
#import dependencies
from sqlalchemy.ext.automap import automap_base
from config import password
from sqlalchemy import create_engine
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/constitution')
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

ModuleNotFoundError: No module named 'config'

In [ ]:
#read the SQL query 
import pandas as pd
constitution =pd.read_sql_query('select * from constitution', con=engine)

In [12]:
import pandas as pd
constitution= pd.read_csv("Data/constitution.csv")

#constitution.to_csv("Data/constitution.csv",index = False, header=True)

In [13]:
constitution.head()

,economy,code,region,income_group,non_discrimination_clause,non_discrimination_clause_explicit_to_sex,constitution_equality_clause,quota_corporate_board,legislative_quota_for_board
0,Afghanistan,AFG,South Asia,Low income,Yes,No,Yes,No quota,27%
1,Albania,ALB,Europe & Central Asia,Upper middle income,Yes,Yes,Yes,No quota,No quota
2,Algeria,DZA,Middle East & North Africa,Upper middle income,Yes,Yes,Yes,No quota,No quota
3,Angola,AGO,Sub-Saharan Africa,Lower middle income,Yes,Yes,Yes,No quota,No quota
4,Antigua and Barbuda,ATG,Latin America & Caribbean,High income,Yes,Yes,No,No quota,No quota

In [14]:
#importing manager csv
female_labor = pd.read_csv('Data/labor_participation.csv')
female_labor.head()
#removing additional years
female_labor_2018=female_labor[["country_code", "year_2018"]]
female_labor_2018.head()
#renaming 2018

female_labor_2018_final=female_labor_2018.rename(columns = {
    "year_2018" :"labor",
    "country_code": "code"
})
female_labor_2018_removed=female_labor_2018_final[(female_labor_2018_final["labor"]>0)]
female_labor_2018_removed.head()

  code  labor
1  AFG  21.42
2  AGO  76.14
3  ALB  46.80
5  ARE  52.35
6  ARG  50.82

In [15]:
merge1=pd.merge(female_labor_2018_removed, constitution, how='inner', on=["code", "code"])
merge1.head()

,code,labor,economy,region,income_group,non_discrimination_clause,non_discrimination_clause_explicit_to_sex,constitution_equality_clause,quota_corporate_board,legislative_quota_for_board
0,AFG,21.42,Afghanistan,South Asia,Low income,Yes,No,Yes,No quota,27%
1,AGO,76.14,Angola,Sub-Saharan Africa,Lower middle income,Yes,Yes,Yes,No quota,No quota
2,ALB,46.80,Albania,Europe & Central Asia,Upper middle income,Yes,Yes,Yes,No quota,No quota
3,ARE,52.35,United Arab Emirates,Middle East & North Africa,High income,Yes,No,Yes,20%,No quota
4,ARG,50.82,Argentina,Latin America & Caribbean,Upper middle income,No,NaN,Yes,No quota,No quota

In [16]:
female_parliament = pd.read_csv('Data/parliament_seats.csv')

#reducing columns
female_parliament_2018=female_parliament[["country_code", "year_2018"]]
female_parliament_2018.head()
#renaming 2018
female_parliament_2018_final=female_parliament_2018.rename(columns = {
    "year_2018" :"parliament",
    "country_code": "code"
})
female_parliament_2018_final
female_parliament_2018_removed=female_parliament_2018_final[(female_parliament_2018_final["parliament"]>0)]
female_parliament_2018_removed

    code  parliament
0    ALB       27.86
1    DZA       25.76
2    AND       32.14
3    AGO       30.45
4    ATG       11.11
..   ...         ...
128  URY       20.20
129  UZB       16.00
131  VNM       26.72
132  ZMB       17.96
133  ZWE       31.48

[132 rows x 2 columns]

In [17]:
logistic_regression = pd.merge(female_parliament_2018_removed, merge1, how='inner', on=["code", "code"])
logistic_regression.head()

,code,parliament,labor,economy,region,income_group,non_discrimination_clause,non_discrimination_clause_explicit_to_sex,constitution_equality_clause,quota_corporate_board,legislative_quota_for_board
0,ALB,27.86,46.80,Albania,Europe & Central Asia,Upper middle income,Yes,Yes,Yes,No quota,No quota
1,DZA,25.76,14.59,Algeria,Middle East & North Africa,Upper middle income,Yes,Yes,Yes,No quota,No quota
2,AGO,30.45,76.14,Angola,Sub-Saharan Africa,Lower middle income,Yes,Yes,Yes,No quota,No quota
3,ARM,18.10,47.09,Armenia,Europe & Central Asia,Lower middle income,Yes,Yes,Yes,No quota,No quota
4,AUS,28.67,60.38,Australia,High income: OECD,High income,No,NaN,No,No quota,No quota

In [18]:
logistic_regression["income_group"].replace({"Lower middle income": "middle lower income",
                                }, inplace=True)

In [19]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd

In [20]:
y = logistic_regression["income_group"]
X = logistic_regression[["labor","parliament",]] 
#training.49 test .43
#X = logistic_regression[["labor"]] 
#training.47 test.41
#X = logistic_regression[["parliament"]] 
#training.41 test .4
print(X.shape, y.shape)

(116, 2) (116,)

In [21]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [22]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(max_iter = 1000)
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [23]:
LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='ovr', n_jobs=1, penalty='l2', random_state=None,
                   solver='liblinear', tol=0.0001, verbose=0, warm_start=False)

In [24]:
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [25]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.4942528735632184
Testing Data Score: 0.3793103448275862

In [32]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   ['Upper middle income' 'middle lower income' 'High income' 'High income'
 'Upper middle income' 'High income' 'Upper middle income'
 'middle lower income' 'High income' 'High income']
First 10 Actual labels: ['middle lower income', 'Low income', 'Upper middle income', 'High income', 'Upper middle income', 'middle lower income', 'middle lower income', 'High income', 'Low income', 'middle lower income']

In [33]:
predictions.tolist()

['Upper middle income',
 'middle lower income',
 'High income',
 'High income',
 'Upper middle income',
 'High income',
 'Upper middle income',
 'middle lower income',
 'High income',
 'High income',
 'Low income',
 'Upper middle income',
 'Low income',
 'High income',
 'High income',
 'High income',
 'Upper middle income',
 'Upper middle income',
 'High income',
 'High income',
 'Upper middle income',
 'Low income',
 'High income',
 'middle lower income',
 'High income',
 'High income',
 'Upper middle income',
 'High income',
 'High income']

In [34]:
y_test.tolist()

['middle lower income',
 'Low income',
 'Upper middle income',
 'High income',
 'Upper middle income',
 'middle lower income',
 'middle lower income',
 'High income',
 'Low income',
 'middle lower income',
 'Low income',
 'Upper middle income',
 'middle lower income',
 'High income',
 'High income',
 'Upper middle income',
 'Upper middle income',
 'middle lower income',
 'High income',
 'Low income',
 'middle lower income',
 'Low income',
 'Upper middle income',
 'High income',
 'Upper middle income',
 'Low income',
 'Upper middle income',
 'middle lower income',
 'High income']

In [35]:

predictions = classifier.predict(X_test)
predictions_df=pd.DataFrame({"Prediction": predictions.tolist(), "Actual": y_test.tolist()})

In [36]:
predictions_df["Actual"]=predictions_df["Actual"].apply(lambda x: x[0])

In [37]:
predictions_df

             Prediction Actual
0   Upper middle income      m
1   middle lower income      L
2           High income      U
3           High income      H
4   Upper middle income      U
5           High income      m
6   Upper middle income      m
7   middle lower income      H
8           High income      L
9           High income      m
10           Low income      L
11  Upper middle income      U
12           Low income      m
13          High income      H
14          High income      H
15          High income      U
16  Upper middle income      U
17  Upper middle income      m
18          High income      H
19          High income      L
20  Upper middle income      m
21           Low income      L
22          High income      U
23  middle lower income      H
24          High income      U
25          High income      L
26  Upper middle income      U
27          High income      m
28          High income      H

In [38]:
import numpy as np
predictions_df["Prediction"].replace({"middle lower income": "Lower middle income",
                                }, inplace=True)
predictions_df["Actual"].replace ({"H": "High Income",
                                  "m": "Lower middle income",
                                  "U": "Upper middle income",
                                  "L": "Low income"}, inplace=True)
predictions_df['Correct'] = np.where(predictions_df['Prediction']== predictions_df['Actual'], True, False)
predictions_df

             Prediction               Actual  Correct
0   Upper middle income  Lower middle income    False
1   Lower middle income           Low income    False
2           High income  Upper middle income    False
3           High income          High Income    False
4   Upper middle income  Upper middle income     True
5           High income  Lower middle income    False
6   Upper middle income  Lower middle income    False
7   Lower middle income          High Income    False
8           High income           Low income    False
9           High income  Lower middle income    False
10           Low income           Low income     True
11  Upper middle income  Upper middle income     True
12           Low income  Lower middle income    False
13          High income          High Income    False
14          High income          High Income    False
15          High income  Upper middle income    False
16  Upper middle income  Upper middle income     True
17  Upper middle income  Lower middle income    False
18          High income          High Income    False
19          High income           Low income    False
20  Upper middle income  Lower middle income    False
21           Low income           Low income     True
22          High income  Upper middle income    False
23  Lower middle income          High Income    False
24          High income  Upper middle income    False
25          High income           Low income    False
26  Upper middle income  Upper middle income     True
27          High income  Lower middle income    False
28          High income          High Income    False

In [39]:
predictions_df.to_csv("Data/logistic_regression_predictions.csv",index = False, header=True)